div.container__pitch {
  display: flex;
  margin: auto;
  padding-top: 3rem;
}

.container__pitch .avatar {
  width: 30%;
} 

.box-left, .box-right {
  display: flex;
  opacity: .8;
  transition: all .8s ease-in-out;
}

.box-right {
  display: flex;
}

.box-right .role-coding {
  order: 1;
}

.box-left:hover, .box-right:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.02);
}


.role-management, .role-coding {
  display: inline-block;
  width: 440px;
}

.container__pitch .avatar {
  width: 200px;
  display: inline-block;
}

.role-text {
  display: inline-block;
}

.title, .description {
  padding-left: 70px;
  padding-top: 50px;
  width: 70%;
  text-align: justify;
}

.title {
  font-size: 3rem;
}

