/* ABOUT */

@media screen and (max-width: 1279px) {
  header:not(.header-wrapper) nav {
    margin: 2rem auto;
  }

  nav a.nav_back {
    height: 1.25rem;
  }

  main.container__about-me {
    margin: 1rem auto;
  }

  section.about-me {
    width: 95%;
    flex-direction: column;
  }
  
  article.text {
    padding: 2rem;
  }

  article.text p {
    font-size: 0.9375rem;
    margin-bottom: .8rem;
  }
}

@media screen and (max-width: 768px) {
  main.container__about-me {
    margin: 1rem auto;
  }
  
  article.text {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  main.container__about-me {
    width: 90%;
  }

  section.about-me {
    width: 100%;
  }

  article.text h1.title {
    font-size: 1.25rem;
  }

  article.text p {
    font-size: 0.875rem;
  }
}


/* INDEX */

@media screen and (max-width: 1279px) {
  section.container__roles {
    width: 90%;
  }

  section.role-wrapper-left, section.role-wrapper-right {
    max-width: 550px;
  }

  section.container__roles img.maztt-avatar {
    width: 150px; 
  }

  h1.role-title, p.role-description {
    width: 90%;
  }
  
  h1.role-title {
    font-size: 2.5rem;
  }

  main.container__portfolio {
    width: 90%;
    margin: 2rem auto;
  }

  article.portfolio__project {
    padding: 3rem 0;
  }

  div.project-display {
    width: 300px;
    height: 200px;
  }

  div.project-info {
    width: 60%;
    letter-spacing: .5px;
  }

  p.project-description {
    margin-bottom: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  section.role-wrapper-left, section.role-wrapper-right {
    max-width: 300px;
  }

  section.container__roles img.maztt-avatar {
    width: 100px; 
  }

  h1.role-title {
    font-size: 1.5rem;
  }

  p.role-description {
    font-size: 0.875rem;
  }

  article.portfolio__project {
    padding: 1rem 0;
  }

  div.project-display {
    width: 200px;
    height: 300px;
  }

  div.project-info {
    width: 50%;
  }

  h2.project-name {
    font-size: 1.75rem;
  }

  p.project-description {
    font-size: 0.875rem;
    margin-bottom: 1.3rem;
  }

  div.project-details > a > button {
    font-size: .8rem;
  }
  
  button {
    padding: .2rem 1rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 480px) {
  section.container__roles {
    flex-direction: column;
    gap: 4rem;
  }

  section.role-wrapper-left, section.role-wrapper-right {
    max-width: 300px;
  }

  section.container__roles img.maztt-avatar {
    display: none;
  }

  h1.role-title {
    font-size: 1.5rem;
  }

  p.role-description {
    font-size: 0.875rem;
  }

  article.portfolio__project {
    padding: 2rem 0;
  }

  div.project-display {
    display: none;
  }

  div.project-info {
    width: 90%;
  }

  h2.project-name {
    font-size: 1.25rem;
  }

  p.project-description {
    font-size: 0.725rem;
    margin-bottom: 1rem;
  }

  div.project-details > a > button {
    font-size: .6rem;
  }
}