@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', 'Segoe UI';
}

/* CARDS */

.container__about, .container__portfolio {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
}

.portfolio__project {
  /* margin: 1rem 0 0; */
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  border-bottom: 1px dotted #9C9C9C70;
}

.project-display {
  height: 300px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #9C9C9C;
  opacity: .9;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.project-display:hover img {
  transform: scale(1.07);
  transition: .3s ease-in-out;
}

.project-display:hover {
  transition: .3s ease-in-out;
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.project-info {
  width: 40%;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 1px;
  color: rgb(109, 109, 109);
}

.project-info > p {
  text-align: justify;
}

.project-name {
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  color: #232232;
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  display: block;
  border: 1px solid #ffffff;
  opacity: 0;
  transition: 0.5s;
}

.card-wrapper h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.3s;
}

.card-wrapper p {
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.3s;
}

.card-wrapper img {
  height: 80%;
  width: 80%;
  border-radius: 15px;
}

div.btn-load {
  margin-top: 120px;
}

.project-description {
  margin-bottom: 10px;
}

.project-details > a {
  display: flex;
}

.project-details > a > button {
  margin-top: 20px;
  padding: 5px 30px;
  font-size: 16px;
}

button {
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: #6b1f20;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

button:hover {
  cursor: pointer;
  border: 1px solid #6b1f20;
  color: #6b1f20;
  background-color: white;
  transition: 1s;
}

button:active {
  position: relative;
  top: 1px;
}

/* FOOTER */

footer.footer {
  height: 30px;
  width: 100%;
  font-size: 10px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #b11010, #6b1f20, #462022, #212224);
  background-size: 400% 400%;
  animation: backgroundTransition 5s ease-in-out infinite;
}

a {
  text-decoration: none;
}
