@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', 'Segoe UI';
}

/* DEVELOPED PROJECTS SECTION */

main.container__portfolio {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
}

article.portfolio__project {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  border-bottom: 1px dotted #9C9C9C70;
}

div.project-display {
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #9C9C9C;
  border-radius: 20px;
  opacity: .9;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

div.project-display:hover img {
  transform: scale(1.07);
  transition: .5s ease-in-out;
}

div.project-display:hover {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
  transition: .5s;
}

div.project-info {
  width: 40%;
  text-align: justify;
  letter-spacing: 1px;
  color: rgb(109, 109, 109);
}

h2.project-name {
  font-family: 'Poppins', sans-serif;
  font-size: 2.375rem;
  color: #232232;
}

span.dot {
  font-size: 4rem;
  line-height: 0rem;
  color: #6b1f20;
}

div.card-wrapper {
  display: flex;
  justify-content: center;
}

div.card-wrapper img {
  height: 80%;
  width: 80%;
  border-radius: 15px;
}

section.projects {
  margin-top: 5rem;
}

p.project-description {
  margin-bottom: 2rem;
}

div.project-details {
  display: flex;
  justify-content: space-between;
}

div.project-details > a > button {
  font-size: 1rem;
}

span.project-type {
  color: #6b1f20;
  font-weight: bold;
  padding: .5rem 1rem;
}

button {
  padding: .5rem 2rem;
  font-size: 1.25rem;
  letter-spacing: 2px;
  color: #FFF;
  background-color: #6b1f20;
  border: 1px solid #232232;
  border-radius: 1rem;
}

button:hover {
  cursor: pointer;
  border: 1px solid #6b1f20;
  color: #6b1f20;
  background-color: #FFF;
  transition: .5s;
}

button:active {
  position: relative;
  top: 1px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 0.5rem;
  font-style: italic;
  letter-spacing: 1px;
  color: #FFF;
  background: linear-gradient(-45deg, #b11010, #6b1f20, #462022, #212224);
  background-size: 400% 400%;
  animation: backgroundTransition 5s ease-in-out infinite;
}

a {
  text-decoration: none;
  color: inherit;
}
